* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.header {
  background: rgb(8, 28, 35);
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
}

.logo {
  color: rgb(219, 210, 84);
  letter-spacing: 5px;
  border: 1px solid rgb(219, 210, 84);
  width: 143px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  margin-bottom: 2px;
  margin-top: 3px;
  margin-left: 8px;
}

.logo-second-part {
  color: rgb(153, 153, 153);
  font-size: 10px;
  letter-spacing: 1px;
  margin-left: 8px;
}

.git-hub-rep {
  color: rgba(255, 255, 255, 0.808);
  border: 1px solid rgba(255, 255, 255, 0.808);
  border-radius: 3px;
  padding: 5px;
  outline: none;
  background: none;
  text-decoration: none;
  margin-right: 10px;
  font-size: 12px;
}

.git-hub-rep:hover {
  color: rgb(8, 28, 35);
  background: rgba(255, 255, 255, 0.924);
}

.note {
  color: rgb(90, 97, 0);
  border: 1px solid #dadc74;
  background-color: #ffe3c8;
  font-size: 13px;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 25px;
}

.fetch {
  color: #264c72;
  border: 1px solid #97c1da;
  background-color: #d8ebf8;
  font-size: 13px;
  padding: 5px;
  border-radius: 3px;
  margin-top: 15px;
  margin-bottom: 25px;
}

h4 {
  font-size: 16px;
}

.paragraph {
  font-size: 13px;
  padding: 3px;
  margin-bottom: 5px;
}

.headers {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.path-req {
  background: #f8f8f8;
  border: 1px solid #97c1da;
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 7px;
  color: rgb(107, 107, 107);
  padding: 3px;
}

.head-req {
  height: 100%;
  padding: 5px;
  width: 100px;
  border-right: 1px solid rgb(41, 41, 128);
  display: inline-block;
  color: rgb(41, 38, 38);
}

.reqired {
  color: rgb(192, 14, 14);
  font-weight: bold;
}

.example {
  color: #585719;
  border: 1px solid #d9da97;
  background-color: #f8f8d8;
  font-size: 13px;
  padding: 5px;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.example-body {
  padding-left: 10px;
  padding-top: 10px;
}

.ex-content {
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: inline-block;
}

.focus {
  border: 1px solid rgb(202, 202, 202);
  background: rgb(245, 245, 245);
  border-radius: 2px;
  padding: 2px;
}

.footer {
  width: 100%;
  height: 50px;
  background: rgb(65, 52, 52);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: rgb(209, 188, 188);
}

.btn {
  height: 28px;
  width: 28px;
  background-size: 28px 56px;
  display: inline-block;
  background-position: 0px 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
  z-index: 6;
  font-size: 0;
}

.git-hub-linked-in {
  margin-right: 10px;
  border: white solid 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

a.git-hub-btn {
  background-image: url('./images/github_gray&white.png');
}

a.linked-in-btn {
  background-image: url('./images/linkedin_gray&white.png');
}

a.git-hub-btn:hover {
  background-position: 0px 28.2px;
}

a.linked-in-btn:hover {
  background-position: 0px 28px;
}

.footer-text {
  padding-left: 10px;
}
