* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.header {
  background: rgb(8, 28, 35);
  padding: 5px;
}

.main {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.logo {
  color: rgb(219, 210, 84);
  letter-spacing: 5px;
  border: 1px solid rgb(219, 210, 84);
  width: 143px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  margin-bottom: 2px;
  margin-top: 3px;
  margin-left: 8px;
}

.logo-second-part {
  color: rgb(153, 153, 153);
  font-size: 10px;
  letter-spacing: 1px;
  margin-left: 8px;
}

.note {
  color: rgb(90, 97, 0);
  border: 1px solid #dadc74;
  background-color: #ffe3c8;
  font-size: 13px;
  padding: 5px;
  border-radius: 3px;
}

.fetch {
  color: #264c72;
  border: 1px solid #97c1da;
  background-color: #d8ebf8;
  font-size: 13px;
  padding: 5px;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.path-req {
  background: #97c1da;
  border: 1px solid #97c1da;
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 7px;
  padding: 5px;
  color: #000;
}

.paragraph {
  font-size: 13px;
  padding: 3px;
  margin-bottom: 5px;
}

.headers {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}



.head-req {
  background: red;
  height: 100%;
}